body, footer{
    color: #8d8d8d;
    background-color: #FFE7E2;
    font-family: Consolas, Menlo, system-ui;
}

h1{
    color: #59C294;
    font-weight: bold;
    text-align: center;
    background-color: #ffffff;
    padding: 2%;
    margin: 6% 0% 2% 0%;
}

h2{
    color: #59C294;
    border-bottom: 3px dashed #ffffff;

    /*text-decoration: underline overline;
    text-decoration-color: #ffffff;*/

}
.row{
    margin: 2%;
}

table{
    color: #8d8d8d;
    font-size: 1.5rem;
    background-color: #59c2956c;
    margin: 3% 0% 3% 0%;
}

caption{
    font-size: 3rem;
}

a{
    text-decoration: none;
    color: #8d8d8d;
}